.ham-i {
  font-size: 2rem;
  color: rgb(144, 46, 171);
}
img {
  max-width: 30rem !important;
}
.page-title {
  color: rgb(144, 46, 171) !important;
}
.id {
  font-size: 19px;
  color: gray;
}
#uploader__input-650706 label {
  color: white !important;
}
textarea,
#formRequestTitle.form-control,
.css-13cymwt-control {
  border: rgba(84, 191, 248, 0.23) solid 2px !important;
}

.header {
  a {
    color: gray !important;
    margin-bottom: 0.5rem;
  }
}

.text-gray {
  color: gray !important;
}

.link {
  padding-bottom: 0.7rem !important;
}
.table {
  direction: rtl;
  padding: 0 15%;
}
.selects {
  padding: 0 15%;
  margin: 0 !important;
  .col-12 {
    // padding: 0 !important;
    padding-left: 0.5rem;
  }
}

.icon {
  color: rgba(84, 191, 248, 0.753);
  transition: 0.2s;
  position: relative;
  top: -2.1rem;
  right: -94%;
  background-color: white;
  &:hover {
    cursor: pointer;
    color: lighten($color: rgba(84, 191, 248, 0.479), $amount: 0);
  }
}

.custom-btn {
  button {
    background-color: white;
    border: none;
    border: rgba(84, 191, 248, 0.23) solid 2px;
    color: rgb(84, 191, 248);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 750px) {
  .table {
    overflow: auto;
    display: inline-block;
    padding: 3%;
    .table-responsive {
      overflow: scroll;
    }

    th,
    td {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 980px) {
  .nav-l {
    display: none !important;
  }
}

@media screen and (min-width: 981px) {
  .nav-s {
    display: none !important;
  }
}
