.ham-i {
  font-size: 2rem;
  color: rgb(144, 46, 171);
}

.page-title {
  color: rgb(144, 46, 171) !important;
}
#uploader__input-650706 label {
  color: white !important;
}
textarea,
#formRequestTitle.form-control,
.css-13cymwt-control {
  border: rgba(84, 191, 248, 0.23) solid 2px !important;
}

.custom-btn {
  button {
    background-color: white;
    border: none;
    border: rgba(84, 191, 248, 0.23) solid 2px;
    color: rgb(84, 191, 248);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (max-width: 980px) {
  .nav-l {
    display: none !important;
  }
}

@media screen and (min-width: 981px) {
  .nav-s {
    display: none !important;
  }
}
